.footer {
  width: 100%;
  background-color: black;
  color: white;
}


.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.footer-section {
  flex: 1;
}

.footer-section-right {
  text-align: right;
}


.social-icons {
  display: flex;       
  gap: 10px;           
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;     
}


.social-icons img {
  width: 24px;         
  height: 24px;
  transition: transform 0.3s;
  cursor: pointer;     
}


.social-icons img:hover {
  transform: scale(1.1);
}
